// .battle__players {
//     margin-top: 2em;
//     display: flex;
//     justify-content: space-between;
//     height: 15%;
//     /* border: 1px solid black; */
// }

// .battle__players-bar__player-one {
//     width: 45%;
//     /* border: 1px solid red; */
//     padding-left: 1em;
//     padding-top: 0.5em;
// }

// .battle__players-bar__player-one__name {}

// .battle__players-bar__player-one__life {
//     font-size: 0.6em;
//     position: relative;
//     bottom: 2em;
// }

// .battle__players-bar__player-one__life p {
//     position: relative;
//     top: 3.2em;
//     left: 45%;
//     z-index: 10;
// }

// .battle__players-bar__player-one__stats {
//     display: flex;
//     justify-content: flex-start;
//     position: relative;
//     bottom: 0.7em;
// }

// .battle__players-bar__player-one__stats-stats {
//     margin-right: 1em;
// }

// .battle__players-bar__icon img {
//     height: 3em;
//     width: 3em;
// }

// .battle__players-bar__player-two {
//     width: 45%;
//     /* border: 1px solid red; */
//     padding-right: 1em;
//     padding-top: 0.5em;
// }

// .battle__players-bar__player-two__name {}

// .battle__players-bar__player-two__life {
//     font-size: 0.6em;
//     position: relative;
//     bottom: 2em;
// }

// .battle__players-bar__player-two__life p {
//     position: relative;
//     top: 3.2em;
//     right: 45%;
//     z-index: 10;
// }

// .battle__players-bar__player-two__stats {
//     display: flex;
//     justify-content: flex-end;
//     position: relative;
//     bottom: 0.7em;
// }

// .battle__players-bar__player-two__stats-stats {
//     margin-left: 1em;
// }

.battle__map {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 80%;
    /* border: 1px solid yellow; */
    align-items: center;
}

// .battle__map__player-one-avatar {
//     /* border: 1px solid green; */
//     width: 40%;
//     display: flex;
//     justify-content: center;
// }

// /* Trick pour retourner l'image dans le bon sens */

// .battle__map__player-one-avatar img {
//     -moz-transform: scaleX(-1);
//     -o-transform: scaleX(-1);
//     -webkit-transform: scaleX(-1);
//     transform: scaleX(-1);
//     filter: FlipH;
//     -ms-filter: "FlipH";
//     position: relative;
//     top: 1.2em;
// }

// .battle__map__player-one-avatar__avatar {
//     height: 10em;
//     margin-left: 10%;
// }

// /* Affichage des degats */

// .battle__map__player-one-avatar-degat {
//     position: relative;
//     left: 7.5em;
//     bottom: -2em;
//     z-index: 10;
//     font-weight: bold;
// }

.battle__map__player-two-avatar {
    /* border: 1px solid green; */
    width: 40%;
    display: flex;
    justify-content: center;

    /* Trick pour retourner l'image dans le bon sens */
    & img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        position: relative;
        top: 1.2em;
    }

    &__bar {
        width: 10em;
        position: relative;
        top: 5.5em;
        right: 7em;
    }

    &__life {
        position: relative;
        bottom: 1.4em;
    }
}




// .battle__map__player-two-avatar__avatar {
//     height: 10em;
//     margin-right: 10%;
// }

/* Affichage des degats */

.battle__map__player-two-avatar-degat {
    position: relative;
    left: 2em;
    bottom: -2em;
    z-index: 10;
    font-weight: bold;
}



/* Menu des options */

.battle__options {
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: #450000;
    color: white;
    right: 0px;
    bottom: 0px;
    top: 2.5em;
    left: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.battle__options-options {}

/* Message Victoire */

.battle__win {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}

.battle__win-win p {
    font-size: 4em;
    font-weight: bold;
    color: #450000;
}

/* Message Victoire */

.battle__loose {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}

.battle__loose-loose p {
    font-size: 4em;
    font-weight: bold;
    color: #450000;
}
