

/* Armes */
.weapons {
    background-image: url(../img/sprites/weapons.png);
    width: 2.3em;
    position: relative;
    background-position: -13px -121px;
    height: 1.5em;
    top: 0.6em;
    left: 2em;
}

/* Avatar de celia */
.battle__introduction-avatar {
    background-image: url('../img/sprites/player-celia.png');
    background-repeat: no-repeat;
    width: 5.5em;
    height: 64px;
    background-position: -192px -300px;
}
