@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
body {
    background-image: url(../img/art-nebula.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto Slab', serif;
    /* TODO regler decalage car pete en battle */
    /* padding-top: 2.5em; */
}

h2 {
    font-size: 0.9em;
}

a {
    color: black;
    /* font-size: em; */
}

/* Menu */

.menu-lg {
    position: absolute;
    top: 2em;
    left: 50%;
    /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    /* décalage de 50% de sa propre taille */
    margin: 1.7em auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid #450000;
    background-image: url(../img/arrow.jpg);
    height: 4em;
}

.menu-lg__links {
    display: flex;
    width: 30%;
}

.menu-lg__links a {
    margin: 0.5em;
}

.menu-lg__links a:hover {
    color: grey;
}

.menu-lg__title {
    flex: 1;
}

.menu-lg__title img {
    position: relative;
    bottom: 2.5em;
    height: 12em;
}

.menu-lg__user {
    width: 30%;
    height: 100%;
}

.menu-lg__user a {
    margin: 0.5em;
}

/* Page d'accueil */

.home {
    margin: auto;
}

.home h1 {
    margin-bottom: 1em;
}

.home__presentation img {
    width: 100%;
    border: 2px solid #450000;
}

.avatar {
    height: 2em;
    width: 2em;
    margin-bottom: 0.5em;
}

.form-inputs {
    width: 20em;
    margin: 1em auto;
}

/* Battle */

.battle {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/arene-2.jpg);
    background-size: cover;
}

.battle__players {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    height: 15%;
    /* border: 1px solid black; */
}

.battle__players-bar__player-one {
    width: 45%;
    /* border: 1px solid red; */
    padding-left: 1em;
    padding-top: 0.5em;
}

.battle__players-bar__player-one__name {}

.battle__players-bar__player-one__life {
    font-size: 0.6em;
    position: relative;
    bottom: 2em;
}

.battle__players-bar__player-one__life p {
    position: relative;
    top: 3.2em;
    left: 45%;
    z-index: 10;
}

.battle__players-bar__player-one__stats {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 0.7em;
}

.battle__players-bar__player-one__stats-stats {
    margin-right: 1em;
}

.battle__players-bar__icon img {
    height: 3em;
    width: 3em;
}

.battle__players-bar__player-two {
    width: 45%;
    /* border: 1px solid red; */
    padding-right: 1em;
    padding-top: 0.5em;
}

.battle__players-bar__player-two__name {}

.battle__players-bar__player-two__life {
    font-size: 0.6em;
    position: relative;
    bottom: 2em;
}

.battle__players-bar__player-two__life p {
    position: relative;
    top: 3.2em;
    right: 45%;
    z-index: 10;
}

.battle__players-bar__player-two__stats {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 0.7em;
}

.battle__players-bar__player-two__stats-stats {
    margin-left: 1em;
}

.battle__map {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 65%;
    /* border: 1px solid yellow; */
    align-items: flex-end;
}

.battle__map__player-one-avatar {
    /* border: 1px solid green; */
    width: 40%;
    display: flex;
    justify-content: center;
}

/* Trick pour retourner l'image dans le bon sens */

.battle__map__player-one-avatar img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: relative;
    top: 1.2em;
}

.battle__map__player-one-avatar__avatar {
    height: 10em;
    margin-left: 10%;
}

/* sprite joueur 1 */
.sprites {
    background-image: url('../img/sprites/player-cloud2.png');
    background-repeat: no-repeat;
    width: 3.5em;
}


.sprites {
    height: 73px;
    background-position: -55px 1px;
}

/* Animation d'attaque */
.sprites-attack {
    background-image: url(../img/sprites/player-cloud2.png);
    width: 1.5em;
    position: relative;
    background-position: -240px -149px;
    height: 1.5em;
    top: 1.5em;
    right: 2.5em;
}

/* Armes */
.weapons {
    background-image: url(../img/sprites/weapons.png);
    width: 2.3em;
    position: relative;
    background-position: -13px -121px;
    height: 1.5em;
    top: 2em;
    right: 3em;
}

/* sprite boss 1 */
.sprites-player2 {
    background-image: url('../img/sprites/boss-queklain.png');
    background-repeat: no-repeat;
    width: 4.5em;
}


.sprites-player2 {
    height: 87px;
    background-position: -97px -4px;
}

/* Sprites boss2 malboro */
.sprites-boss-malboro {
    background-image: url('../img/sprites/boss-malboro.png');
    background-repeat: no-repeat;
    width: 4.5em;
}


.sprites-boss-malboro {
    height: 87px;
    background-position: -64px 11px;
}

/* Sprites boss2 bomb */
.sprites-boss-bomb {
    background-image: url('../img/sprites/boss-bomb.png');
    background-repeat: no-repeat;
    width: 5.5em;
}

.sprites-boss-bomb {
    height: 100px;
    background-position: -25px -28px;
}

/* Affichage des degats */

.battle__map__player-one-avatar-degat {
    position: relative;
    left: 7.5em;
    bottom: -2em;
    z-index: 10;
    font-weight: bold;
}

.battle__map__player-two-avatar {
    /* border: 1px solid green; */
    width: 40%;
    display: flex;
    justify-content: center;
}

/* Trick pour retourner l'image dans le bon sens */

.battle__map__player-two-avatar img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: relative;
    top: 1.2em;
}

.battle__map__player-two-avatar__avatar {
    height: 10em;
    margin-right: 10%;
}

/* Affichage des degats */

.battle__map__player-two-avatar-degat {
    position: relative;
    left: 2em;
    bottom: -2em;
    z-index: 10;
    font-weight: bold;
}

.battle__menu {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    border: 1px solid dark;
}

.battle__menu__tools {
    /* border: 1px solid pink; */
    /* width: 40%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: black;
    border-top: #450000 4px solid;
    border-right: #450000 4px solid; */
}

.battle__menu__tools-tools {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #450000;
    margin: 0 0.5em;
}

.battle__menu__tools-tools:focus {
    outline: 0;
}

.battle__menu__skills {
    /* border: 1px solid pink; */
    /* width: 40%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: black;
    border-top: #450000 4px solid;
    border-left: #450000 4px solid; */
}

.battle__menu__skills-skills {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #450000;
}

.battle__menu__skills-skills:focus {
    outline: 0;
}

.battle__menu__skills-skills img {
    height: 2em;
}

/* Menu des options */

.battle__options {
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: #450000;
    color: white;
    right: 0px;
    bottom: 0px;
    top: 2.5em;
    left: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.battle__options-options {}

/* Message Victoire */

.battle__win {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}

.battle__win-win p {
    font-size: 4em;
    font-weight: bold;
    color: #450000;
}

/* Message Victoire */

.battle__loose {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}

.battle__loose-loose p {
    font-size: 4em;
    font-weight: bold;
    color: #450000;
}

/* Barre de vie */

.progress-bar {
    border-radius: 8px;
    border-top: 2px solid rgb(202, 200, 200);
    border-left: 2px solid rgb(202, 200, 200);
    border-bottom: 2px solid rgb(145, 143, 143);
    border-right: 2px solid rgb(145, 143, 143);
    width: 100%;
    height: 1.5em;
    background-color: #191919;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.player-hp-bar {
    content: '';
    display: block;
    position: relative;
    height: 1em;
    background: #999;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.player-one-hp-bar {
    border-radius: 8px;
    width: 100%;
    background: #450000;
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 153, 8)), to(rgb(21, 107, 0))); */
    /* background: -moz-linear-gradient(top, rgb(0, 153, 8), rgb(21, 107, 0)); */
}

.player-two-hp-bar {
    border-radius: 8px;
    width: 100%;
    background: #c9ad10;
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 153, 8)), to(rgb(21, 107, 0))); */
    /* background: -moz-linear-gradient(top, rgb(0, 153, 8), rgb(21, 107, 0)); */
}

/* .player-bar {
    background-image: url(../img/arrow.jpg);
    background-position: top;
    width: 100%;
    height: 10em;
    bottom: 20em;
    position: fixed;
    bottom: 9.1em;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.7em;

} */

/*
.player-bar__avatar img{
    height: 10em;
}

.player-bar__stats {
    height: 10em;
    font-family: 'Press Start 2P',cursive;
    padding: 1em;
    color: black;
}

.player-bar__skills {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.player-bar__skills__button {
    font-family: 'Press Start 2P',cursive;
    background-color: #343A40;
    color: white;
    width: 100%;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    border: 1px solid black;
}

.player-bar__skills__button:hover {
    background-color: rgb(42, 45, 48);
    color: white;
    cursor: crosshair;
}

.player-bar__life {
    font-family: 'Press Start 2P',cursive;
    color: black;
    padding: 2em 0;
}

.player-bar__menu {
    flex: 1;
    background-color: #032C53;
}

.player-bar__menu__button {
    font-family: 'Press Start 2P',cursive;
    width: 100%;
    height: 33.33%;
    background-color: #343A40;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
}

.player-bar__menu__button:hover {
    background-color: rgb(42, 45, 48);
    color: white;
    cursor: crosshair;
}

.border-active {
    border: 4px solid green;
}

.player-bar__icons {
    height: 1.5em;
} */

@media (max-width: 1140px) {
    .menu-lg {
        display: none;
    }
}
