@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
body {
    background-image: url(../img/art-nebula.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto Slab', serif;
    /* TODO regler decalage car pete en battle */
    /* padding-top: 2.5em; */
}

h2 {
    font-size: 0.9em;
}

a {
    color: black;
    /* font-size: em; */
}

/* Page d'accueil */

.home {
    margin: auto;
}

.home h1 {
    margin-bottom: 1em;
}

.home__presentation img {
    width: 100%;
    border: 2px solid #450000;
}

.avatar {
    height: 2em;
    width: 2em;
    margin-bottom: 0.5em;
}

.form-inputs {
    width: 20em;
    margin: 1em auto;
}




