/* Fiche de style de home.ctp */
.home {

}

.home__footer {
    margin-top: 20em;
}

.test {
    perspective: 800px;
    width: 80%;
}

.div img {
    width: 100%;
}

.div {
    width: 100%;
    position: absolute;
    left: 13%;
    border: 2px solid #444;
    transition: 2s;
    backface-visibility: hidden;
}

#devant {
    z-index: 100;
    background-image: linear-gradient(white, green);
}

#derriere {
    z-index: 50;
    background-image: linear-gradient(white, red);
    transform: rotateX(-180deg);
}

#devant:hover {
    transform: rotateX(180deg);
}

#devant:hover+#derriere {
    transform: rotateX(0deg);
}
