

/* Page d'accueil */

.home {
    margin: auto;
}

.home h1 {
    margin-bottom: 1em;
}

.home__presentation img {
    width: 100%;
    border: 2px solid #450000;
}

.avatar {
    height: 2em;
    width: 2em;
    margin-bottom: 0.5em;
}

.form-inputs {
    width: 20em;
    margin: 1em auto;
}

/* loader */

.loader {
    width: 20%;
    position: absolute;
    top: 42%;
    left: 40%;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
    fill: white;
}
