/* Menu du site */

.menu {
    z-index: 14;
    position: fixed;
    top: 0;
    left: 0;
    height: 2.5em;
    background-color: #450000;
    border-bottom: grey 2px solid;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu__links {
    display: flex;
    padding: 0.2em;
    justify-content: space-around;
    width: 100%;
    padding-right: 2.5em;
}

.menu__links-link img {
    width: 2em;
}

.menu__user {
    display: flex;
}
