.articles-index {
    // width: 100%;
    //margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    padding: 4em 0;

    &__block-title {
        text-align: left;
        display: inline-block;
        margin-bottom: 1.5em;

        &__title {}

        &__link {}
    }

    &__block-content {

        &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $color-grey;
            margin-bottom: 1em;
            -webkit-transition: all 1s ease;
            /* Safari et Chrome */
            -moz-transition: all 1s ease;
            /* Firefox */
            -ms-transition: all 1s ease;
            /* Internet Explorer 9 */
            -o-transition: all 1s ease;
            /* Opera */
            transition: all 1s ease;

            &__block-image {
                width: 100%;
                height: 55%;

                &__image {
                    width: 100%;
                    height: 100%;

                }
            }

            &__block-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                padding: 1em 1em 0 1em;

                &__title {
                    font-size: 1em;
                    text-transform: uppercase;
                    color: white;
                }

                &__date {
                    color: white;
                }
            }
        }
    }
}

.articles-index__block-content__content:hover {
    background-color: rgb(43, 41, 43);
    /* L'image est grossie de 8% */
    -webkit-transform: scale(1.08);
    /* Safari et Chrome */
    -moz-transform: scale(1.08);
    /* Firefox */
    -ms-transform: scale(1.08);
    /* Internet Explorer 9 */
    -o-transform: scale(1.08);
    /* Opera */
    transform: scale(1.08);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .articles-index {
        &__block-content {
            display: flex;
            justify-content: space-between;


            &__content {
                width: 32%;
            }
        }
    }
}
