/* sprite boss 1 */
.sprites-player2 {
    background-image: url('../img/sprites/boss-queklain.png');
    background-repeat: no-repeat;
    width: 4.5em;
}


.sprites-player2 {
    height: 87px;
    background-position: -97px -4px;
}

/* Sprites boss2 malboro */
.sprites-boss-malboro {
    background-image: url('../img/sprites/boss-malboro.png');
    background-repeat: no-repeat;
    width: 4.5em;
}


.sprites-boss-malboro {
    height: 87px;
    background-position: -64px 11px;
}

/* Sprites boss2 bomb */
.sprites-boss-bomb {
    background-image: url('../img/sprites/boss-bomb.png');
    background-repeat: no-repeat;
    width: 5.5em;
}

.sprites-boss-bomb {
    height: 100px;
    background-position: -25px -28px;
}
