.login-form {
    padding-top: 4em;
    margin: 0 1.5em;

    &__buttons {
        margin-top: 2em;
    }

    &__block {


        // margin: 2em 1em;
        // padding: 0.5em;

        &__title {
            margin-bottom: 1em;
        }

        &__login {
            background-color: $color-grey;
            padding: 3em 1.5em 0em 1.5em;
            border-radius: 5px;

            &__fields {
                width: 100%;
                padding: 10px;
                font-size: 1.3rem;
            }

            &__labels {
                color: white;
                text-transform: uppercase;
                font-size: 0.7em;
            }

            &__submit {
                margin: 1.5em 0;
                background-color: $color-blue;
                color: $color-white;
                border: none;
            }
        }

    }

    &__switch {
        background-color: $color-grey;
        margin: 2em 0;
        padding: 0.5em;
        border-radius: 5px;

        &__button {
            background: none;
            color: $color-blue;
            border: none;
        }
    }
}

// Hover
.login-form__switch__button:hover {
    background: none;
    color: white;
    border: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .login-form {
        max-width: 50%;
        margin: auto;
    }
}
